button {
  display: inline-block;
  background-color: #1e2328;
  color: #cdbe91;
  border: 2px solid #c8a356;
  padding: 8px 40px;
  font-weight: 700;
  letter-spacing: 1.2px;
  cursor: pointer;

  &:hover {
    border: 2px solid #cdbe91;
    transition: all 0.4s ease-in;
    box-shadow: 0 5px 15px rgba(205, 190, 145, 0.4);
  }
}
