*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $secondary;
}

input {
  width: 100%;
  height: 38px;
  border-radius: 0;
  border: 2px solid #775928;
  background-color: #010a13;
  margin: 15px 20px 20px 0 !important;
  color: $tertiary;
  padding-left: 10px;
  font-size: 0.9rem;
}

a {
  color: $link;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: darken($link, 12%);
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border-top: 0.1rem solid $secondary-light;
  margin: 2rem 0 1.5rem;
}

*:focus {
  outline: none;
}

::placeholder {
  color: $tertiary;
  font-size: 0.9rem;
  padding-left: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
  ;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c8a356;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($color: #c8a356, $amount: 10%);
}

body {
  overflow-y: hidden;
}
